<h2>This is the history of the sessions.</h2>
<%# Done sessions %>

<% @reading_sessions_done.each do |sess| %>
<div class="session-card">
    <p>Pages: <%= sess.page_count %></p>
    <p>Start: <%= sess.session_start %></p>
    <p>End: <%= sess.session_end %></p>
    <p>Duration: <%= sess.duration %></p>
  </div>
<% end %>
