<h1>hi</h1>


<%= @reading_list.book.title %>

<%= link_to "delete", deactivate_path(@reading_list), data: { turbo_method: :patch, confirm: "Are you sure?" } %>

<%= link_to "Back", reading_lists_path %>


<p>tracker</p>
<%= link_to "start Tracker", reading_list_trackers_path(@reading_list), data: { turbo_method: :post } %>
