.scroll-tabs {
  // position: relative;

  .sticky-top {
    position: sticky;
    top: 10px;
    background-color: #F4F4F4;
  }

  .scroll-tabs-nav {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    padding-right: 15px;
    box-sizing: border-box;

    .scroll-nav-item {
      flex: 0 0 auto;

      .scroll-nav-link {
        display: block;
        white-space: nowrap;
        border-radius: 10px;
        height: 40px;
        width: 85px;
        border: none;
        text-decoration: none;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

        &.active {
          background: linear-gradient(90deg, #e49933, #e36f08);
          color: #ffffff;
        }

        &:not(.active) {
          background-color: #f8f9fa;
          color: #333;
        }
      }
    }
  }
}
