// Variables
$card-border-radius: 12px;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

// Container for the cards
.activity-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

// Card styles
.session-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;

//   // Image styling
  .activity-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }

//     // Text styling
  .activity-details {
    text-align: center;

    .activity-title {
      font-weight: bold;
      color: black;
    }

    .activity-author {
      font-size: 14px;
      margin-top: 4px;
      color: #666;
    }
  }

  .marked-read {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.progress {
  background-color: #e1e1e1;
  border-radius: 5px;
  height: 15px;
  width: 300px;
  overflow: hidden;

  .progress-bar {
    background: linear-gradient(90deg, #e49933, #e36f08);
    height: 100%;
    border-radius: 5px;
  }
}

.activity-info {
  color: black;
  margin-top: 14px;
  padding-left: 60px;
  font-size: 14px;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: flex-start; /* Keeps the content aligned at the top */

  .activity-time,
  .activity-pages {
    width: 150px;
    padding: 8px 0;

    strong {
      display: inline-block;
      margin-right: 5px; /* Adds a small space between label and value */
    }

    p {
      display: inline; /* Makes the time/pages appear on the same line */
      margin: 0; /* Removes unnecessary spacing */
    }
  }
}
