<nav class="bottom_navbar">
  <ul class="bottom_navbar__tabs">
    <li class="bottom_navbar__tab">
      <a href="http://[::1]:3000/discover" class="bottom_navbar__link" id="discover">
        <i class="fas fa-compass"></i>
        <span>Discover</span>
      </a>
    </li>
    <li class="bottom_navbar__tab">
      <a href="#" class="bottom_navbar__link" id="reading-activity">
        <i class="fas fa-book-open"></i>
        <span>Reading Activity</span>
      </a>
    </li>
    <li class="bottom_navbar__tab">
      <a href="http://[::1]:3000/readinglists" class="bottom_navbar__link" id="my-books">
        <i class="fa-solid fa-bookmark"></i>
        <span>My Books</span>
      </a>
    </li>
  </ul>
  <div class="home-indicator"></div>
</nav>
