<div class="top-bar">
  <div class="left">
    <span class="time" id="time">00:00</span>
  </div>

    <div class="dynamic-island">
    <span></span>
    </div>

  <div class="right">
    <i class="fa-solid fa-signal" style="color: #000000;"></i>
    <i class="fa-solid fa-wifi" style="color: #000000;"></i>
    <i class="fa-solid fa-battery-full" style="color: #000000;"></i>  </div>
</div>
<script src="script.js"></script>
