<%= render "shared/searchbar" %>
<ul>
  <% @books.each do |book| %>
    <li> <%= link_to book.title, book_path(book) %>  | <em><%= book.author %></em>  |  <strong><%= book.genre %></strong></li>
  <% end %>
</ul>
