// Tabs
.activity-top {
  padding: 16px;
}

.nav-pills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5;
  gap: 16px;

  .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 55px;
    padding: 5px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    background-color: white;

    &.active {
      background: linear-gradient(90deg, #e49933, #e36f08);
      color: #ffffff;
    }

    &:not(.active) {
      background-color: white;
      color: #1c1c1c;
    }
  }
}
