.bf-link-back {
  position: relative;
  top: 6px;
  left: 21px;
  border-radius: 50%;
  background-color: #9b9b9b;
  text-align: center;
  text-decoration: none;
  padding: 5px 8px;
  width: 34px;
}

.bf-link-back i {
  color: white;
}


.bf-btn-sessions {
  background: linear-gradient(90deg, #e49933, #e36f08);
  color: white;
  padding: 50px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  margin-top: 12px;
  width: 180px;
  height: 180px;
}
