.bf-link-back {
  position: relative;
  top: 6px;
  left: 21px;
  border-radius: 50%;
  background-color: #9b9b9b;
  text-align: center;
  text-decoration: none;
  padding: 5px 8px;
  width: 34px;
}

.bf-link-back i {
  color: white;
}
