$card-bg-color: #f9f9f9;
$card-hover-bg-color: #ffffff;
$card-border-radius: 12px;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
$text-color: #666;
$linear-color: linear-gradient(90deg, #e49933, #e36f08);


.bf-card {
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  background-color: white;

  .bf-text-box {
    width: 90%;
    text-align: center;
    margin: 20px auto;
    color: #666;
    font-size: 14px;

  }
}

.bf-text-pages {
  border-top: 1px solid #666;
  padding: 8px 0;

  p {
    margin: 12px 0 0 0;
  }
}

#bf-text-title {
  margin-bottom: 0px;
}

#bf-text-author {
  font-size: 14px;
  margin-top: 4px;
  color: #666;
  margin-bottom: 0px;
}

.bf-card-img {
  height: 300px;
}

.bf-progress {
  background-color: #f0efef;
  border-radius: 6px;
  height: 24px;
  border: 1px solid #e0e0e0;
  width: 80%;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.bf-progress-bar {
  background: $linear-color;
  height: 100%;
  border-radius: 5px;

  // position: relative;
  //z-index: 1;
}

.bf-progress-text {
  position: absolute;
  width: 90%;
  //z-index: 2;
  color: #4a4a4a;
  font-weight: normal;
  left: 6%;
  top: -1px;
}



.bf-form-text-input {
  width: 20%;
  margin: auto;
}


.bf-stopwatch-text {
  font-size: 24px;
  margin: 0px 0;
}


.bf-card-stat {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
  padding: 18px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: normal;
  border: 1px solid #e0e0e0;

  p {
    margin: 0;
  }
}


.bf-session-card{
margin-bottom: 16px;

  .bf-session-info{
    text-align: center;
    margin: 8px 0;

    &:first-child { // Pages read
      font-weight: bold;
      font-size: 1.1rem;
      color: #4a4a4a; // Bootstrap primary
    }

    &:nth-child(2) { // Duration
      font-size: 1.25rem;
      font-weight: 600;
      color: #000000; // Bootstrap success
    }

    &:nth-child(3),
    &:nth-child(4) { // Start and End times
      font-size: 0.9rem;
      color: gray; // Bootstrap secondary
      margin: 0 auto;
    }
  }
}


.review-card-img {
  height: 300px;
  margin-bottom: 16px;
}

.review-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

  h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
}

.image-container {
  text-align: center; /* Center the image horizontally */
}
